#main {
    float: left;
    margin-top: 20px
}


.heading {
    font-weight: lighter;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px solid #db6e6e;
    float: left;
    color: #4f4f4f;
    padding: 0 5px
}

.heading:first-letter {
    color: #db6e6e
}

#news {
    float: left
}

@media (min-width:1051px) {
    #main {
        width: 60%;
        margin-left: 3%
    }
    #news {
        margin-left: 10%;
        width: 90%
    }
}

@media (max-width:1050px) and (min-width:911px) {
    #main {
        width: 65%;
        margin-left: 2%
    }

    #news {
        margin-left: 4%;
        width: 96%
    }
}

@media (max-width:910px) and (min-width:500px) {
    #main {
        width: 90%;
        margin-left: 5%
    }

    #news {
        margin-left: 4%;
        width: 96%
    }
}

@media (max-width:499px) {
    #main {
        width: 90%;
        margin-left: 5%
    }

    #news {
        margin-left: 4%;
        width: 96%
    }
}

@media (max-width:600px) {
    #courses>a>.btn {
        margin-left: 5%!important
    }
}

.block {
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid silver;
    font-size: 1.1em;
    color: #3e3e3e;
    float: left
}

@media (min-width:911px) {
    .block {
        width: 88%;
        padding: 3%
    }
}

@media (max-width:910px) {
    .block {
        width: 92%;
        padding: 4%
    }
}


.block_test {
    width: 90%;
    float: left;
    margin-top: 10px;
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 1em
}