.flex-cont {
    display: flex;
    flex-flow: wrap;
    width: 100%
}

.article {
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 10px
}

.article>a>img {
    border-radius: 5px 5px 0 0;
    width: 100%
}

.article>span,
.article>a>span {
    font-size: 1.15em;
    width: 85%;
    margin: 7px 7.5%;
    float: left;
    color: #333
}

.article>span:last-of-type {
    font-size: .9em;
    margin-top: 0;
    color: #6e6e6e
}

.article>div:last-of-type {
    font-size: .9em;
    margin-top: 0;
    color: #6e6e6e;
    width: 85%;
    margin: 7px 7.5%
}

.article:hover>span:last-of-type {
    color: #434343
}

.article:hover>a>span {
    color: #e8622d
}

#news>a>.btn {
    margin-bottom: 20px;
    float: left;
    margin-left: 30%
}

@media (min-width:1220px) {
    .flex-cont {
        justify-content: flex-start
    }
    .article {
        flex-basis: 40%;
        margin-right: 7%
    }
}

@media (max-width:1219px) and (min-width:650px) {
    .flex-cont {
        justify-content: flex-start
    }
    .article {
        flex-basis: 45%;
        margin-right: 2%
    }
}

@media (max-width:910px) {
    .flex-cont {
        justify-content: center
    }
}

@media (max-width:649px) {
    .article {
        flex-basis: 100%
    }
}

@media (max-width:440px) {
    #news>a>.btn {
        margin-left: 5%!important
    }
}
